<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../Trust_Me_Front/css/style.css">
    <title>Home</title>
</head>

<body>
    <div class="home_video">
        <video autoplay muted loop src="../../../../../Trust_Me_Front/media/vid/TrustME2.mp4"></video>
    </div>
    <div class="about">
        <h3>Acerca de nosotros</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti laboriosam suscipit delectus qui, distinctio debitis, quasi blanditiis fugit obcaecati dignissimos fuga. Tenetur non consequuntur assumenda aspernatur fuga eos blanditiis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio numquam, fugiat officiis, quos sunt autem velit laboriosam odio tempora expedita delectus. Rem saepe nihil nam totam fugit, modi dolorem nobis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quam doloribus molestiae, error at illo recusandae, voluptas laudantium nostrum quo repellendus corrupti voluptates quae rem eius! Beatae facilis aliquid adipisci.
        </p>
    </div>
    <div class="ranking">
        <h3>Ranking</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti laboriosam suscipit delectus qui, distinctio debitis, quasi blanditiis fugit obcaecati dignissimos fuga. Tenetur non consequuntur assumenda aspernatur fuga eos blanditiis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio numquam, fugiat officiis, quos sunt autem velit laboriosam odio tempora expedita delectus. Rem saepe nihil nam totam fugit, modi dolorem nobis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quam doloribus molestiae, error at illo recusandae, voluptas laudantium nostrum quo repellendus corrupti voluptates quae rem eius! Beatae facilis aliquid adipisci.
        </p>
    </div>
    <div class="xxxx">
        <h3>XXXX</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti laboriosam suscipit delectus qui, distinctio debitis, quasi blanditiis fugit obcaecati dignissimos fuga. Tenetur non consequuntur assumenda aspernatur fuga eos blanditiis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio numquam, fugiat officiis, quos sunt autem velit laboriosam odio tempora expedita delectus. Rem saepe nihil nam totam fugit, modi dolorem nobis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quam doloribus molestiae, error at illo recusandae, voluptas laudantium nostrum quo repellendus corrupti voluptates quae rem eius! Beatae facilis aliquid adipisci.
        </p>
    </div>
</body>
<footer>

</footer>
</html>