<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../Trust_Me_Front/css/style.css">
    <title>Registro de Correo Electrónico</title>
</head>
<header>
    <h1 class="logo_header"><img src="../../../../../Trust_Me_Front/media/img/Logo.png" alt=""></h1>
    <div class="nav">
        <a href="home.html">Home</a>
        <a href="catalogoPag.html">Catálogo de Páginas</a>
        <a href="registrarPag.html">Registrar Páginas</a>
        <a style="color: #6985A7;" href="login.html">Inicio de Sesión</a>
    </div>
</header>
<body class="blue_body">
    <article class="pale_page">
        <h2>REGISTRATE</h2>
        <section class="scrollable_section">
            <form action="#" method="POST">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required><br><br>
                <label for="correo">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" required><br><br>

                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required><br><br>
                <button>Enviar</button>
            </form>
        </section>
</article>
</body>
</html>