<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../Trust_Me_Front/css/style.css">
    <title>Registrar</title>
</head>
<header>
    <h1 class="logo_header"><img src="../../../../../Trust_Me_Front/media/img/Logo.png" alt=""></h1>
    <div class="nav">
        <a href="home.html">Home</a>
        <a href="catalogoPag.html">Catálogo de Páginas</a>
        <a style="color: #6985A7;" href="registrarPag.html">Registrar Páginas</a>
        <a href="login.html">Inicio de Sesión</a>
    </div>
</header>
<body class="blue_body">
    <article class="pale_page">
        <h2>REGISTRA TU PAGINA</h2>
        <section class="scrollable_section">
            <form action="#" method="POST">
                <label for="nombrePagina">Nombre de la Página:</label>
                <input type="text" id="nombrePagina" name="nombrePagina" required><br><br>
        
                <label for="dominioPagina">Dominio de la Página:</label>
                <input type="text" id="dominioPagina" name="dominioPagina" required><br><br>
        
                <label for="urlPagina">URL de la Página a Registrar:</label>
                <input type="url" id="urlPagina" name="urlPagina" required><br><br>
        
                <label for="curpPersona">CURP de la Persona que Registró la Página:</label>
                <input type="text" id="curpPersona" name="curpPersona" pattern="[A-Z]{4}[0-9]{6}[HM][A-Z]{5}[0-9]{2}" placeholder="Ejemplo: ABCD123456HXYZ01" required><br><br>
        
                <label for="telefonoPersona">Número de Teléfono con el Cual se Registró la Página:</label>
                <input type="tel" id="telefonoPersona" name="telefonoPersona" pattern="[0-9]{10}" placeholder="Ejemplo: 1234567890" required><br><br>
        
                <label for="correoPersona">Correo Electrónico con el Cual se Registró la Página:</label>
                <input type="email" id="correoPersona" name="correoPersona" required><br><br>
        
                <button>Enviar</button>
            </form>
        </section>
    </article>
</body>
<footer>

</footer>
</html>