<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../Trust_Me_Front/css/style.css">
    <title>Publicar Texto</title>
</head>
<header>
    <h1 class="logo_header"><img src="../../../../../Trust_Me_Front/media/img/Logo.png" alt=""></h1>
    <div class="nav">
        <a href="home.html">Home</a>
        <a href="catalogoPag.html">Catálogo de Páginas</a>
        <a href="registrarPag.html">Registrar Páginas</a>
        <a href="login.html">Inicio de Sesión</a>
    </div>
</header>
<body>
    <h1>Publicar Texto</h1>
    <form action="#" method="POST">
        <label for="texto">Ingresa tu texto:</label>
        <textarea id="texto" name="texto" rows="4" cols="50" required></textarea><br><br>

    </form>
</body>
</html>
